html,
body,
#root {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

footer {
  background-color: #f1f1f1;
  padding: 10px 0;
  text-align: center;
}

h4 {
  margin-top: 20px;
  font-weight: bold;
}

button {
  margin: 8px;
}